.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
  justify-content: center;
  background-color: #f4f4f4;
}

.screen {
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container > .screen + .search-bar {
  margin-top: 10px;
}

.search-bar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
